<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<!-- <div id="background">
	<h1>DHT Sensor  </h1>
	<h3> TEMPERATURE  :  {{ temp  }} oC</h3>	
	<h3> Last Sensors Reading: {{ time }} </h3>
</div>
 -->


<div class="black-font">DATABASE</div>
<div class="black-reading">{{time}}</div>

<div id="background">
	<div class="white-font">INTERBREW</div> 
	<div class="white-reading">READING</div>  
	<div class="container">
  		<button class="btn temp">
  			<div class="name">{{temp}}C</div>
  			<!-- <div class="name">ER</div> -->
  			<!-- <div class="name">BREW</div> -->
  		</button>
  	</div>

	<!-- <button class="btn default">Interbrew</button> -->
	<!-- <div class="instructions">and<br/>hold to pour</div> -->
	<!-- <button class="instructions">and<br/>hold to pour</button> -->
  </div>
</div>


</body>
</html>
