<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>


<div class="black-font">DATABASE</div>
<div class="black-reading">{{date}}</div>

<div id="background">
	<div class="white-font">INTERBREW</div> 
	<div class="white-reading">{{time}}</div>  
	<div class="container">
  		<button class="temp">
  			<div class="name">{{temp}}℃</div>
  			<!-- <div class="name">ER</div> -->
  			<!-- <div class="name">BREW</div> -->
  		</button>
  	</div>

  </div>
</div>


</body>
</html>
